.bookingsPrgrsBar {
  margin: 0 auto;
  margin-top: 40px;
}

.bookingFilterCard {
  height: 350px;
}

.bookingExpansionPanel {
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 0px rgba(0, 0, 0, 0.12), 0 2px 0px rgba(0, 0, 0, 0) !important;
}

#bookings {
  padding-top: 0;
}

#bookings > .header .search-input-wrapper md-input-container input{
        border-bottom: 1px solid rgba(255,255,255,.8);
    color: rgba(255,255,255,.8);
    width: 300px;
}

#bookings > .header .search-input-wrapper md-input-container input::-webkit-input-placeholder { /* Chrome */
  color: rgba(255,255,255,.8);
}
#bookings > .header .search-input-wrapper md-input-container input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,.8);
}
#bookings > .header .search-input-wrapper md-input-container input::-moz-placeholder { /* Firefox 19+ */
   color: rgba(255,255,255,.8);
}
#bookings > .header .search-input-wrapper md-input-container input:-moz-placeholder { /* Firefox 4 - 18 */
 color: rgba(255,255,255,.8);
}

#bookings > div.content.layout-row.flex > md-sidenav
{
box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

#bookings> .header .search-input-wrapper label md-icon
{
        color: rgba(255,255,255,.8);
}

booking-info > md-list .md-no-proxy
{
  padding: 0 ;
}

md-dialog.new-booking-dialog {
max-width: 900px;
    width: 900px;
} 


md-dialog.booking-info-dialog {
max-width: 700px;
    width: 700px;
} 

md-dialog.new-booking-dialog ._md-datepicker-has-calendar-icon{
           margin-top: 40px;
           margin-left: -11px;
} 

md-dialog.new-booking-dialog .date-inputs input {
         width: 300px;
} 

#bookings {
.rejected-tab-label{
  color: red;
}

  .main-content{
    width: 100%;
  }

.waiting-tab-label{
  color: orange;
}

.confirmed-tab-label{
  color: green;
}

.bookingAllTabs
{
  min-height: 0 !important;
}

.tab-icons{
font-size: 18pt;
}

.confirmed-tab-mobile-icon{
  color:green;
}

.rejected-tab-mobile-icon{
  color: red;
}

.waiting-tab-mobile-icon{
  color: orange;
}
}


// Responsive
@media screen and (max-width: 960px) {
  #bookings{
    margin-top: 120px;

    .sidenav{
      margin-top:120px;
    }

    .secondary-button-padding{
      .md-button{
        padding:0;
      }
    }
  }

  md-dialog.new-booking-dialog .date-inputs input{
        width: 190px;
  }
}

@media screen and (max-width: 600px)
{

}