

<div id="page_content_inner">


    <div class="md-card">
        <div class="md-card-content">
            <div id="VendorServicePacket_crud"></div>
        </div>
    </div>
</div>

@*<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" href="#" id="recordAdd">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>*@

@section scripts
{
    <script src="~/Scripts/VendorServicePacket_Crud_Table.js"></script>
}