<?xml version="1.0"?>

<appSettings>
  <add key="Issuer" value="DESKTOP-Q72L3K1"/>

  <add key="FileSaveServer" value="D:"/>
  <add key="FileSavePath" value="/Files/Images/ProfileImages/"/>

  <!--Send SMS-->
  <!--<add key="SMSProviderAdress" value="http://sendsms.az/index.php?app=quick_sms&login={LOGIN}&msisdn={MSISDN}&text={MSG_BODY}&sender={SENDER}&key={KEY}"/>-->
  <add key="SMSProviderPort" value="21001"/>
  <add key="SMSSender" value="Brono.az"/>
  <add key="SMSLogin" value="sms4startup"/>
  <add key="SMSPassword" value="Gr9DsCx1"/>

</appSettings>